<!-- Modal -->
  <div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addModalLabel">{% block modal-title %} <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Item {% endblock modal-title %} </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
          
             <!-- FORM -->
             <form {% block action %} action="/add_item" {% endblock action %} method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}

                <div class="modal-body">

                    <!-- ===== Block ID (denied here) ===== -->
                    {% block value-id %} {% endblock value-id %}

                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"> <i class="fas fa-shopping-bag"></i></span>
                        <input type="text" class="form-control" name="item" maxlength="40" placeholder="Item name" required {% block value-item %} {% endblock value-item %}>
                    </div>

                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"> <i class="fas fa-dollar-sign"></i></span>
                        <input type="text" class="form-control" name="price" maxlength="40" placeholder="price" required {% block value-price %} {% endblock value-price %}>
                    </div>

                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"> <i class="fas fa-bars"></i></span>
                        <input type="text" class="form-control" name="qty" maxlength="40" placeholder="quantity" required {% block value-qty %} {% endblock value-qty %}>
                    </div>

                    <div class="mt-4" style="width: 100%;">
                        <button type="submit" class="btn btn-secondary mb-3" style="background-color: #051A65;">
                            {% block btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Item {% endblock btn-action %}
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px; " title="Back" >
                            <i class="fas fa-chevron-left"></i>

                        </a>
                        <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Reset">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>